<div class="f_page f_scrollPage" ng-if="visible">
	<div class="f_centeredContainer projectDetails projectsGlobalWrapper">
		<div style="background-color:#333333;padding-bottom:20px;">
			<div style="height:50px; margin-left:40px; margin-right:40px; background-color:#333333;">
				<!-- fluid Row -->
				<div class="row-fluid">
					<span class="heading span9">
						<p class="f_textBright f_textL f_textBold">{{'FE_LEGAL_NOTICES'|i18n}}</p>
					</span>
				</div><!-- fluid Row -->
			</div><!-- darbarInternal -->
		</div><!-- darkbar -->
		<div class="f_text "
			  style="padding-top:5px; padding-bottom:10px;"
			  onselectstart="return false;">
			<a name="Top"></a>
			<!--Body content-->
			<div style="margin-bottom:15px;margin-top:15px;">
				 <!--Open Source Licenses-->
				<collapsibleblock caption="{{'FE_OPENSRC_LICENSES'|i18n}}" collapsed="false">
					<div class="f_box" style="padding:20px 20px 10px 20px;"> 
						<p class="f_textM">{{'FE_OPENSRC_USE'|i18n}}</p>
						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">Alertify.js</legend>
						<p class="f_textM f_textCite">"Browser dialogs never looked so good."</p>
						<div style="margin-bottom:40px;" class="f_textM">
							<a href="http://fabien-d.github.io/alertify.js/" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="http://opensource.org/licenses/MIT" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>
						
						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">AngularJS</legend>
						<p class="f_textM f_textCite">"HTML enhanced for web apps! AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop."</p>
						<div style="margin-bottom:40px;" class="f_textM">
							<a href="http://angularjs.org/" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="http://opensource.org/licenses/MIT" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>
						
						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">Bootstrap</legend>
						<p class="f_textM f_textCite">"Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development."</p>
						<div style="margin-bottom:40px;" class="f_textM">
							<a href="http://getbootstrap.com/" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>
						
						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">Chart.js</legend>
						<p class="f_textM f_textCite">"Easy, object oriented client side graphs for designers and developers."</p>
						<div style="margin-bottom:40px;" class="f_textM">
							<a href="http://www.chartjs.org" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="http://opensource.org/licenses/MIT" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>
						
						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">Closure-Compiler</legend>
						<p class="f_textM f_textCite">"Closure Compiler is a JavaScript optimizing compiler. It parses your JavaScript, analyzes it, removes dead code and rewrites and minimizes what's left. It also checks syntax, variable references, and types, and warns about common JavaScript pitfalls. It is used in many of Google's JavaScript apps, including Gmail, Google Web Search, Google Maps, and Google Docs."</p>
						<div style="margin-bottom:40px;" class="f_textM">
							<a href="https://code.google.com/p/closure-compiler/" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>
						
						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">GLMatrix.js </legend>
						<p class="f_textM f_textCite">"A Javascript Matrix and Vector library for High Performance WebGL apps."</p>
						<div style="margin-bottom:40px;" class="f_textM">
							<a href="https://github.com/toji/gl-matrix" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="http://opensource.org/licenses/BSD-3-Clause" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>
						
						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">jQuery </legend>
						<p class="f_textM f_textCite">"jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript."</p>
						<div style="margin-bottom:40px;" class="f_textM">
							<a href="http://jquery.com/" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="http://opensource.org/licenses/MIT" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>
						
						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">Leaflet JS</legend>
						<p class="f_textM f_textCite">"An Open-Source JavaScript Library for Mobile-Friendly Interactive Maps."</p>
						<div style="margin-bottom:40px;" class="f_textM">
							<a href="http://leafletjs.com/" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="https://github.com/Leaflet/Leaflet/blob/master/LICENSE" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>

						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">Modern UI Icons</legend>
						<p class="f_textM f_textCite">"Handcrafted pixel perfect icons tailored for the Modern UI style."</p>
						<div style="margin-bottom:40px;" class="f_textM">
							<a href="http://modernuiicons.com/" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="https://github.com/Templarian/WindowsIcons/blob/master/WindowsPhone/license.txt" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>
						
						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">q</legend>
						<p class="f_textM f_textCite">"A tool for making and composing asynchronous promises in JavaScript."</p>
						<div style="margin-bottom:40px;" class="f_textM">
							<a href="http://documentup.com/kriskowal/q/" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="http://opensource.org/licenses/MIT" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>
						
						<legend class ="f_textML" style="line-height:20px;margin-bottom:10px;">Symfony</legend>
						<p class="f_textM f_textCite">"Symfony is a PHP Framework, a Philosophy, and a Community - all working together in harmony."</p>
						<div style="margin-bottom:20px;" class="f_textM">
							<a href="http://symfony.com" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_HOMEPAGE'|i18n}}</a>
							<a style="margin-left: 20px;" href="http://symfony.com/doc/current/contributing/code/license.html" target="_blank"><img class="f_icon16" static-src="icons/extlink.png" />{{'FE_SHOW_LICENSE'|i18n}}</a>
						</div>
						
					</div>
				</collapsibleblock>
				 <!--Terms of use-->
				<collapsibleblock caption="{{'FE_TOS'|i18n}}" collapsed="true">
					<div class="f_box" style="padding:20px 20px 10px 20px;"> 
						<div style="margin-bottom:20px;" class="f_textM">
							<p>
								<a static-href="assets/tos-20140123-1.pdf" target='_blank'><img class="f_icon16" static-src="icons/extlink.png" /> {{'FE_VIEW_TOS'|i18n}} </a>
							</p>
						</div>
						</div>
				</collapsibleblock>
				 
				  <!--Terms of use-->
				<collapsibleblock caption="{{'FE_SAFE_HARBOR'|i18n}}" collapsed="true">
					<div class="f_box" style="padding:20px 20px 10px 20px;"> 
						<div style="margin-bottom:20px;" class="f_textM">
							<p>
								<a href="http://www.faro.com/en-us/footer/legal-notices" target='_blank'><img class="f_icon16" static-src="icons/extlink.png" /> {{'FE_SAFE_HARBOR'|i18n}} </a>
							</p>
						</div>
					</div>
				</collapsibleblock>
			</div>
		</div>
	 </div>
</div>
