<div style="padding-top:20px">
	<div class="f_centeredContainer f_borderBox f_responsiveBox">
		<!-- Header with image -->
		<div class="header">
		<p class="f_textBold f_textML"><img class="f_icon48" static-src="icons/im/taskbar/users/edit.png"/>{{'FE_LOST_PASSWORD'|i18n}}</p>
		</div>
		<div style="padding-left:30px; padding-right:30px; padding-bottom:20px;">
			<p class="f_textM" style="padding-bottom: 10px">{{'FE_ENTER_USERNAME'|i18n}}:</p>
			<lostpasswordform username="{{username}}"></lostpasswordform>
		</div>
	</div>
</div>
