<div class="f_accountPage">
	<div class="f_centeredContainer f_narrowPage">
		<div class="f_centeredContainer f_borderBox">
			<!-- Header with image -->
			<div class="header">
				<p class="f_textBold f_textML"><img class="f_icon48" static-src="icons/im/taskbar/users/edit.png"/>{{'FE_CHANGE_PASSWORD'|i18n}}</p>
			</div>
			<div style="padding-left:30px; padding-right:30px; padding-bottom:20px;">
				<!-- main content of the formular -->
				<form novalidate name="resetpasswdform" id="resetpasswdform" class="form-horizontal f_text">
					<alert type="info" class="container-fluid f_alertCompact" style="margin-top: 25px;">
						<div class="row">	
							<div class="col-xs-1" style="display:inline; height:32px;">
								<img class="f_icon48" static-src="icons/im/alerts/info.png"/> 
							</div>
							<div class="col-xs-11">
								<p style="margin-top:5px;" class="f_textML f_textDark">{{'FE_PW_TOO_SHORT'|i18n}} {{'FE_PW_VALID'|i18n}}</p>
							</div>
						</div>
					</alert>	
					<div class="input-group f_inputGroup">
						<div class="input-group-addon f_validate required" ng-class="{'ng-valid':formData.password}" style="min-width: 200px;">
							{{'FE_NEW_PASSWORD'|i18n}}
						</div>
						<input type="password"
							   name="password"
							   class="form-control f_validate"
							   required
							   validatepassword
							   ng-model="formData.password"
							   placeholder="********"
							   ng-minlength="8"
							   ng-maxlength="100"
							   ng-disabled="submitted"/>
					</div>
					<div class="input-group f_inputGroup">
						<div class="input-group-addon f_validate required" ng-class="{'ng-valid':formData.confirmPassword}" style="min-width: 200px;">
							{{'FE_CONFRIM_PASSWORD'|i18n}}
						</div>
						<input type="password"
							   name="confirmpassword"
							   class="form-control f_validate"
							   required
							   passwordsequal
							   ng-model="formData.confirmPassword"
							   placeholder="********"
							   ng-minlength="8"
							   ng-maxlength="100"
							   ng-disabled="submitted"/>
					</div>
					<div class="f_textM">
						<input type="checkbox"
							   class="f_invisibleCheckbox"
							   id="accept_tos_rp"
							   name="accept_tos"
							   required ng-click="formData.termsAccepted = !formData.termsAccepted">
						<label class="f_focusLabel" for="accept_tos_rp">
							<div class="f_validateCheckbox required f_unselectable" ng-class="{checked:formData.termsAccepted}"></div>
							{{'FE_I_ACCEPT_TOS'|i18n}} (<a static-href="assets/tos-20140123-1.pdf" target='_blank'> {{'FE_VIEW_TOS'|i18n}} </a>)
						</label>
					</div>
					<br/>
					<!-- submit button -->
					<div style="height:32px; margin-bottom:20px;">
						<button class="btn pull-right f_btnFontDark"
								ng-click="submit(resetpasswdform)"
								ng-disabled="submitted || !canSubmit()" 
								ng-class="{disabled: !canSubmit(), 'btn-warning':!canSubmit(), 'btn-success':canSubmit()}" 
								>{{'FE_CHANGE_PASSWORD'|i18n}}
						</button>
					</div>		
					<div promise="getPromise()">
						<div promiseprogress>
							<alert type="info">{{'FE_CHANGING_PASSWORD'|i18n}}...</alert>
						</div>
						<div promisethen>
							<alert type="info">
								{{'FE_CHANGE_PASSWORD_SUCCESS'|i18n}}
							</alert>
						</div>
						<div promisefail>
							<alert type="error">
								{{errormessage | i18n}}
							</alert>
							<div style="padding-top: 30px">
								<p class="f_textM" style="padding-top:30px;">{{'FE_CHANGE_PASSWORD_NEW_LINK'|i18n}}:</p>
								<lostpasswordform></lostpasswordform>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
