<!DOCTYPE html>
<html>
	<head>
		<title>Error: Unsupported Browser</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<div style ="text-align:center; width:100%; height:100%; background-color:#ffffff">
			<div style="background-color: #ffffff;
				 display: block; 
				 width: 700px; 
				 height: 450px; 
				 margin-top: 20px; 
				 margin-left: auto; 
				 margin-right: auto; 
				 padding: 20px;">
				<img width="320" height="240" src="../img/assets/error_default.png" />
				<div style='font-family: Helvetica;'>
					<h1 align="center">This page uses features that are unavailable in your browser.</h1>
					<p>Seems like it is time for an upgrade...</p>
					<h2 align="center"><a href="http://caniuse.com/webgl" target="_blank">Show me a list of recommended browsers</a></h2>
					<p align="center" style="font-size: 10px;"><a href="http://caniuse.com/canvas" target='_blank'>Show me a list of compatible browsers</a></p>
				</div>
			</div>
		</div>
	</body>
</html>
