<!DOCTYPE html>
<html>
	<head>
		<title>Error: Unsupported Browser</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<div style ="text-align:center; width:100%; height:100%; background-color:#ffffff">
			<div style="background-color: #ffffff;
				 display: block; 
				 width: 700px; 
				 height: 450px; 
				 margin-top: 20px; 
				 margin-left: auto; 
				 margin-right: auto; 
				 padding: 20px;">
				<img width="320" height="240" src="../img/assets/error_default.png" />
				<div style='font-family: Helvetica;'>
					<h1 align="center">WebShare 2Go uses features that are unavailable in your browser.</h1>
					<p>Please use the browser bundled with WebShare 2Go, or either Mozilla Firefox or Safari (MacOS).</p>
				</div>
			</div>
		</div>
	</body>
</html>
